body {
    background-color: #5497A7;
    color: #F6F5AE;
}

div {
    border: .5rem solid #23232e;
    border-radius: .5rem;
    margin-bottom: 50px;
    background-color: #DBAD6A;
    padding: 5px;
    width: auto;
}

iframe, img {
    border: .2rem solid #23232E;
    border-radius: .5rem;
}


img:nth-child(1) {
    width: 400px;
}

img:nth-child(2) {
    width: 90%;
}

#tweets:hover {
    cursor: pointer;
}