body {
    background-color: #5497A7;
    color: #F6F5AE;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    border: .2rem solid #23232e;
    border-radius: .5rem;
    background-color: white;
    animation: spin 1s; 
    animation-iteration-count: infinite;
    border-radius: 200px;
}

@keyframes spin {
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}