body {
    background-color: #5497A7;
    color: #F6F5AE;
}

div {
    border: .5rem solid #23232e;
    border-radius: .5rem;
    margin-bottom: 50px;
    background-color: #DBAD6A;
}

iframe {
    border: .2rem solid #23232e;
    border-radius: .5rem;
    background-color: white;
    animation: spin 1s; 
    animation-iteration-count: infinite;
    position: absolute;
    left: 100px;
}

#alone {
   color: white;
}

@keyframes spin {
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(359deg);
    }
}

