body {
    background-color: #5497A7;
    color: #F6F5AE;
}

div {
    border: .5rem solid #23232e;
    border-radius: .5rem;
    margin-bottom: 50px;
    background-color: #DBAD6A;
}

iframe {
    border: .2rem solid #23232e;
    border-radius: .5rem;
    background-color: white;
    
}

.tips {
    background-color: #5497A7;
    border: none;
}

.tips,.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tips > div {
    margin: 5px;
    padding: 5px;
    width: 65%;
}

.tricks > .title {
    margin-left: 2.5rem;
}

#alone {
   color: white;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

